.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #141129;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nftapp {
  background: radial-gradient(
    circle at 50% 50%,
    #7163D5,
    #342C6D,
    #342C6D,
    #2a2457,
    #141129,
    #000000
  );
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.connectbutton {
  background: #7163D5;
  box-shadow: 0px 1px 10px #7163D5;
  color: #ffffff;
  border-radius: 14px;
  padding: 5px 12px;
  font-size: large;
  font-weight: 200;
}

.navbarfont {
  margin-left: 0%;
  font-family: "SF Pro Display";
  font-weight: 500;
  font-size: large;
  font-style: bold;
}

.nftstaker {
  background:#7163D5;
  font-family: "SF Pro Display";
  font-weight: 300;
  color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 1px 1px #000000;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 15px !important;
  -webkit-border: 20px !important;
  -moz-border: 20px !important;
  border: 20px !important;
}

.container-style {
  display: center;
}

@keyframes glow2 {
  from {
    box-shadow: 0 0 4px -1px #38f01a;
  }
  to {
    box-shadow: 0 0 10px 7px #38f01a;
  }
}

.stakegoldeffect {
  font-family: "SF Pro Display";
  font-weight: 300;
  animation: glow2 3s infinite alternate;
  background: linear-gradient(to bottom, rgb(1, 53, 130), rgba(255, 0, 0, 0));
}

.errorsearch {
  background: black;
}

.navbarglow {
  box-shadow: 0px 8px 15px #7163D5;
}
.farm {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(90, 92, 106, 1) 0%,
    rgba(32, 45, 58, 1) 81.3%
  );
  font-family: "SF Pro Display";
  font-weight: 300;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 1px 1px #ffffff;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
  -webkit-border: 20px !important;
  -moz-border: 20px !important;
  border: 20px !important;
}
.farmcard {
  color: rgb(255, 255, 255);
  font-family: "SF Pro Display";
  font-weight: 300;
  background-image: linear-gradient(
    112.1deg,
    rgba(32, 38, 57, 1) 11.4%,
    rgba(63, 76, 119, 1) 70.2%
  );
}
.n2dtitlestyle {
  color: #ffffff;
  font-family: "SF Pro Display";
  font-weight: 300;
}

.nftportal {
  background: #161616;
}


@-webkit-keyframes AnimationStake {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationStake {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationStake {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
